/*
* @ Core CSS File
* @ Author: Uoc Nguyen
* @ Fontend Developer
* @ Website: http://lamnham.com
* @ Template: Iso Corporation Logistics
*/
/* Reset Css  */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}
a {
  font-size: 14px;
  color: #444;
}
a:hover {
  color: #20b1fe;
  text-decoration: none;
}
.red {
  color: #20b1fe;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #444;
}
.container {
  max-width: 991px;
  width: 100%;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.tleft {
  text-align: left;
}
.tright {
  text-align: right;
}
.center {
  text-align: center;
}
.justify {
  text-align: justify;
}
.upper {
  text-transform: uppercase;
}
.left,
.ap-left {
  float: left;
}
.right,
.ap-right {
  float: right;
}
.pointer {
  cursor: pointer;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.hidden {
  display: none;
}
.xdot {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}
.xo,
.ap-xo {
  overflow: hidden;
}
.full {
  width: 100%;
  height: 100%;
}
.fullw {
  width: 100%;
}
.fullh {
  height: 100%;
}
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.cell {
  display: table-cell;
}
.table {
  display: table;
}
.invisible,
.ap-invisible {
  opacity: 0;
  filter: alpha(opacity=0);
}
.vtop {
  vertical-align: top;
}
.vcenter {
  vertical-align: middle;
}
.vbottom {
  vertical-align: bottom;
}
.f9 {
  font-size: 9px;
}
.f10 {
  font-size: 10px;
}
.f11 {
  font-size: 11px;
}
.f12 {
  font-size: 12px;
}
.f13 {
  font-size: 13px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f16 {
  font-size: 16px;
}
.f17 {
  font-size: 17px;
}
.f18 {
  font-size: 18px;
}
.f19 {
  font-size: 19px;
}
.f20 {
  font-size: 20px;
}
.f21 {
  font-size: 21px;
}
.f22 {
  font-size: 22px;
}
.f23 {
  font-size: 23px;
}
.f24 {
  font-size: 24px;
}
.f25 {
  font-size: 25px;
}
.f26 {
  font-size: 26px;
}
.f27 {
  font-size: 27px;
}
.f28 {
  font-size: 28px;
}
.f29 {
  font-size: 29px;
}
.f30 {
  font-size: 30px;
}
.f31 {
  font-size: 31px;
}
.f32 {
  font-size: 32px;
}
.thin {
  font-weight: 300;
}
.thick {
  font-weight: 500;
}
.header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 55px;
  z-index: 100;
}
.header .logo {
  float: left;
  padding: 10px 0px;
}
.header .logo img {
  height: 30px;
}
.header .links {
  float: right;
  margin-top: 10px;
}
.header .links .url {
  float: left;
  display: inline-block;
  padding: 10px 0px;
  margin-left: 30px;
  color: #fff;
  font-weight: 300;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
.header .links .url.active,
.header .links .url:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  font-weight: normal;
}
.main-container {
  min-height: 100vh;
  padding-top: 130px;
  padding-bottom: 80px;
  position: relative;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.main-container .hero-bg {
  background: #512DA8;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 80;
}
.main-container .hero-cover {
  position: absolute;
  z-index: 81;
  top: 0px;
  right: 0px;
  left: 0px;
  -webkit-opacity: 0.2;
  -moz-opacity: 0.2;
  opacity: 0.2;
  bottom: 0px;
}
.main-container .hero-content {
  max-width: 768px;
  margin: 0px auto;
  position: relative;
  z-index: 100;
  color: #fff;
}
.main-container .hero-content .title {
  font-size: 40px;
  line-height: 1.3;
  text-align: center;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.main-container .hero-content .title b {
  color: #20b1fe;
}
.main-container .hero-content .actions {
  text-align: center;
  margin-top: 40px;
  position: relative;
}
.main-container .hero-content .actions .btn {
  display: inline-block;
  padding: 20px 80px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #20b1fe;
  color: #fff;
  font-size: 20px;
  text-align: center;
  border: 0px;
  position: relative;
  transition: all 0.3s ease;
}
.main-container .hero-content .actions .btn .txt {
  position: relative;
  z-index: 2;
}
.main-container .hero-content .actions .btn:after {
  content: "";
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
  bottom: 0px;
  position: absolute;
  width: 0px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  transition: all 0.3s ease;
  background: #51e5a1;
}
.main-container .hero-content .actions .btn:before {
  -webkit-animation: ripple-out 1.5s infinite;
  /* Safari 4+ */
  -moz-animation: ripple-out 1.5s infinite;
  /* Fx 5+ */
  -o-animation: ripple-out 1.5s infinite;
  /* Opera 12+ */
  animation: ripple-out 1.5s infinite;
  /* IE 10+, Fx 29+ */
  top: 0px;
  left: 0px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  right: 0px;
  bottom: 0px;
  width: 30px;
  height: 30px;
  margin: auto;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4dffffff, endColorstr=#4dffffff)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4dffffff, endColorstr=#4dffffff);
  content: "";
  position: absolute;
}
.main-container .hero-content .actions .btn:hover {
  transition: all 0.3s ease;
}
.main-container .hero-content .actions .btn:hover:after {
  width: 100%;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  transition: all 0.3s ease;
}
.main-container .hero-content .actions .btn .icon {
  margin-right: 5px;
  display: inline-block;
  z-index: 2;
  position: relative;
  -webkit-animation: click 1.4s infinite;
  /* Safari 4+ */
  -moz-animation: click 1.4s infinite;
  /* Fx 5+ */
  -o-animation: click 1.4s infinite;
  /* Opera 12+ */
  animation: click 1.4s infinite;
  transform: rotate(45deg);
}
.main-container .hero-content .actions .arrow {
  position: absolute;
  display: block;
  left: -130px;
  top: -30px;
}
.main-container .hero-content .actions .arrow img {
  width: 120px;
}
.main-container .hero-content .share {
  text-align: center;
  position: relative;
  z-index: 20;
  margin-top: 40px;
}
.main-container .hero-content .share .name {
  display: block;
  color: #fff;
  font-size: 16px;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  font-weight: 300;
  margin-bottom: 10px;
}
.main-container .hero-content .share .btn {
  width: 120px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1affffff, endColorstr=#1affffff)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1affffff, endColorstr=#1affffff);
  color: #fff;
  margin: 0px 5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 10px 0px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}
.main-container .hero-content .share .btn .icon {
  margin-right: 5px;
}
.main-container .hero-content .share .btn:hover {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33ffffff, endColorstr=#33ffffff);
}
.main-container .footer {
  width: 100%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  color: #fff;
  z-index: 120;
  font-weight: 300;
  font-size: 13px;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
}
@-webkit-keyframes ripple-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100px;
    height: 100px;
  }
}
@-moz-keyframes ripple-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100px;
    height: 100px;
  }
}
@-o-keyframes ripple-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100px;
    height: 100px;
  }
}
@keyframes ripple-out {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    width: 100px;
    height: 100px;
  }
}
@-webkit-keyframes click {
  0% {
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    transform: translateY(3px) rotate(45deg);
  }
  100% {
    transform: translateY(-3px) rotate(45deg);
  }
}
@-moz-keyframes click {
  0% {
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    transform: translateY(3px) rotate(45deg);
  }
  100% {
    transform: translateY(-3px) rotate(45deg);
  }
}
@-o-keyframes click {
  0% {
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    transform: translateY(3px) rotate(45deg);
  }
  100% {
    transform: translateY(-3px) rotate(45deg);
  }
}
@keyframes click {
  0% {
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    transform: translateY(3px) rotate(45deg);
  }
  100% {
    transform: translateY(-3px) rotate(45deg);
  }
}
.list-links {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.1);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1a000000, endColorstr=#1a000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#1a000000, endColorstr=#1a000000);
  padding: 20px;
}
.list-links .li .name,
.list-links .li .cat {
  width: 50%;
  float: left;
  padding: 10px;
}
.list-links .li.-head {
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  font-size: 12px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.02);
}
.list-links .li .url {
  color: #fff;
  font-weight: 300;
}
.list-links .li .url:hover {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .main-container .hero-content .actions .arrow {
    left: -60px;
    top: 0px;
  }
  .main-container .hero-content .actions .arrow img {
    width: 60px;
  }
  .list-links .li.-head {
    display: none;
  }
  .list-links .li {
    border-bottom: 2px solid rgba(255, 255, 255, 0.02);
  }
  .list-links .li .name,
  .list-links .li .cat {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .main-container {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  .header .logo {
    width: 100%;
    float: none;
    text-align: center;
  }
  .header .links {
    display: none;
  }
}
